apiVersion: v1
kind: Service
metadata:
  name: {{ include "secapi.fullname" . }}-api
  labels:
    {{- include "secapi.api.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "secapi.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: api
